.h-tma-panel-widget
    z-index -1
    background-color rgba(255,255,255,1)
    margin-right 5px
    margin-top 5px
    border 1px solid #ddd

    .s-panel-content
        margin-top -5px
        margin-right 5px

#h-tma-panel-widget-div
    -webkit-transition all 0.5s ease !important
    -moz-transition all 0.5s ease !important
    -o-transition all 0.5s ease !important
    transition all 0.5s ease

.tma-panel-table
    thead
        display none

.input-group-tma
    margin-top 10px

.horizontal-panel
    position inherit

